/* -----------Header Section Start--------------- */

.nav{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
}
.logo{
    width: 600px;
    float: left;
    margin-top: 20px;
}
.menu{
    width: 600px;
    float: left;
    margin-top: 20px;
}
.menu ul li{
    display: inline;
    margin-right: 30px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
}
.home{
    border-bottom: 2px solid rgb(67, 82, 219);
    overflow: hidden;
    
}
/* -----------Hero Section Start-------------- */
.hero-section{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
    
}
.hero-left{
    width: 600px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 70px; 
    float: left;
    overflow: hidden;
    
}
.hello{
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: hsl(261.73deg 98.99% 61.18%);
}
.noun{
    color: hsl(261.73deg 98.99% 61.18%);
}
.developer{
    border-bottom: 5px solid hsl(261.43deg 21.43% 61.57%);
    opacity: 1px;
}
.hero-left-text h1{
    font-size: 55px;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
}
.hire-me{
    margin-right: 10px;
    background-color: hsl(261.73deg 98.99% 61.18%);
    border: 1px solid hsl(261.73deg 98.99% 61.18%);
    border-radius: 3px;
    cursor: pointer;
}
.portfolio{
    background-color: #fff;
    border: 2px solid hsl(261.73deg 98.99% 61.18%);
    border-radius: 3px;
    cursor: pointer;
}
.portfolio a{
    font-size: 18px;
    font-weight: bold;
    color: hsl(261.73deg 98.99% 61.18%);
}
.hire-me a{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.hero-left-text p{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 25px;
}
.hero-left-buttons{
    margin-top: 50px;
}
.hero-left-buttons button{
    padding: 14px 40px 14px 40px;
}
.hero-left-buttons a{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.hero-left-text p{
    color: rgb(77 77 78);
}
.hero-right{
    width: 600px;
    float: left;
    display: flex;
}
.hero-img img{
    margin-left: -420px;
}




/* ------------About Section Start---------- */

.about{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    height: 600px;
    background-color: hsl(264deg 45.45% 97.84%);
}
.about-content{
    margin-top: 100px;
}
.about-content span{
    color: hsl(261.73deg 98.99% 61.18%);
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

